body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.w-full {
  width: 100%;
}

.bg-primary {
  background-color: #48034F;
}

.bg-gray {
  background-color: #F5F5F5;
}

.text-white {
  color: #F8F8FF;
}

.box-input {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.form-input {
  border-radius: 4px;
  border-color: white;
  font-size: 16px;
}

.button-orange {
  background-color: #FF5722;
  color: #F8F8FF;
}

.button-purple {
  background-color: #48034F;
  color: #F8F8FF;
}

.button {
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 50vh;
}

#login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vh;
}

#form-login {
  padding-bottom: 35px;
  padding-top: 20px;
}
