.animated-div {
  width: 100px;
  height: 100px;
  animation: loading 1s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #48034F;
  font-weight: bold;
  font-size: large;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}